<extend name="Layout/layout" />

<block name="content">
    <div class="xs">
        <h3>Forms</h3>
        <div class="grid_3 grid_5">
            <h3>Tabs</h3>
            <div class="but_list">
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">模型列表</a></li>
                        <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">添加</a></li>
                        <!--<li role="presentation" class="dropdown">
                            <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
                                <li><a href="#dropdown1" tabindex="-1" role="tab" id="dropdown1-tab" data-toggle="tab" aria-controls="dropdown1">@fat</a></li>
                                <li><a href="#dropdown2" tabindex="-1" role="tab" id="dropdown2-tab" data-toggle="tab" aria-controls="dropdown2">@mdo</a></li>
                            </ul>
                        </li>-->
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                            <div class="panel panel-warning" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
                                <div class="panel-body no-padding">
                                    <table class="table table-striped">
                                        <thead>

                                        <tr class="warning">
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <foreach name="cate" item="vo">
                                        <tr>
                                            <td>{$vo.id}</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        </foreach>
                                        <tr>
                                            <td>2</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                            <form role="form" class="form-horizontal" id="form-register" method="post" >
                                <div class="form-group">
                                    <label class="col-md-2 control-label">名称<span class="font-red">*</span></label>
                                    <div class="col-md-6">
                                        <div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-envelope-o"></i>
									</span>
                                            <input name="name" id="name"  type="text" class="form-control1" placeholder="名称">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">上级栏目<span class="font-red">*</span></label>
                                    <div class="col-md-4">
                                        <div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-thumbs-o-up"></i>
									</span>
                                            <input name="pre_cate" id="pre_cate"  type="number" class="form-control1" value="0">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <p class="help-block">上级栏目编号</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="model" class="col-sm-2 control-label">模型<span class="font-red">*</span></label>
                                    <div class="col-sm-8" id="model">
                                        <div class="checkbox-inline"><label><input type="checkbox" name="model[]" value=1>基础模型</label></div>
                                        <div class="checkbox-inline"><label><input type="checkbox" name="model[]" value=2>基础模型(评论)</label></div>
                                        <div class="checkbox-inline"><label><input type="checkbox" name="model[]" value=4>下载</label></div>
                                        <div class="checkbox-inline"><label><input type="checkbox" name="model[]" value=3>新闻</label></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">优先级</label>
                                    <div class="col-md-4">
                                        <div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-gear"></i>
									</span>
                                            <input name="level" id="level" type="text" class="form-control1"  placeholder="0">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <p class="help-block">数字0～250</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2 ">
                                        <button class="btn-warning btn " type="submit" id="submit-register">保 存</button>
                                        <button class="btn-default btn " type="reset">重 置</button>

                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <script>

    </script>

    <script>
        $('#submit-register').click(function() {
            //alert('kk');
            //var name = $('#name').val();
            //var password = $('#password').val();
            var myForm = $('form');
            $.ajax({
                url: '__URL__/addCate',
                type: 'post',//提交的方式
                dataType:'json',
                data: myForm.serialize(),
                success: function(data) {
                    //alert(9);
                    alert(data);
                    //这是成功返回的数据，写自己的逻辑
                }
            });
        });
    </script>
</block>