<extend name="Layout/layout" />

<block name="content">
    <div class="xs">
        <h3>Forms</h3>

        <div class="panel-body">
            <form  class="form-horizontal" id="form-register">
                <div class="form-group">
                    <label class="col-md-2 control-label">名称<span class="font-red">*</span></label>
                    <div class="col-md-6">
                        <div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-envelope-o"></i>
									</span>
                            <input name="name" id="name"  type="text" class="form-control1" value={$name}>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">上级栏目<span class="font-red">*</span></label>
                    <div class="col-md-4">
                        <div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-thumbs-o-up"></i>
									</span>
                            <input name="pre_cate" id="pre_cate"  type="number" class="form-control1" value={$pre_cate}>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <p class="help-block">上级栏目编号</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="model" class="col-sm-2 control-label">模型<span class="font-red">*</span></label>
                    <div class="col-sm-8" id="model">
                        <volist name="model" id = 'vo'>
                            <div class="checkbox-inline"><label><input type="checkbox" name="model[]" value={$vo.id} {$vo.checked}>{$vo.name}</label></div>

                        </volist>
                        <!--<div class="checkbox-inline"><label><input type="checkbox" name="model[]" value=4>下载</label></div>
                        <div class="checkbox-inline"><label><input type="checkbox" name="model[]" value=3>新闻</label></div>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">优先级</label>
                    <div class="col-md-4">
                        <div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-gear"></i>
									</span>
                            <input name="level" id="level" type="text" class="form-control1"  value={$level}>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <p class="help-block">数字0～250</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">状态</label>
                    <div class="col-md-4">
                        <div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-gear"></i>
									</span>
                            <input name="status" id="status" type="text" class="form-control1"  value={$status}>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <p class="help-block">数字0～250</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">链接</label>
                    <div class="col-md-4">
                        <div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-gear"></i>
									</span>
                            <input name="uri" id="uri" type="text" class="form-control1"  value={$uri}>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <p class="help-block">250</p>
                    </div>
                </div>
                <input type="hidden" name="id" value={$id}>


            </form>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 ">
                        <button class="btn-warning btn "  id="submit">保 存</button>
                        <button class="btn-default btn " type="reset">重 置</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


</block>
<block name="script">
<script>
    $('#submit').click(function() {

        var myForm = $('#form-register');
        $.ajax({
            url: '__URL__/editCate/id/{$id}',
            type: 'post',//提交的方式
            dataType:'json',
            data: myForm.serialize(),
            success: function(data) {

                alert(data.msg);
                if(data.status==1){
                    window.location.href=document.referrer;
                }
            }
        });
    });
</script>
</block>