<extend name="Layout/layout" />

<block name="content">

    <div class="xs">
        <!--<h4>团队组建</h4>-->
        <ol class="breadcrumb">
            <li><a href="#">科创俱乐部</a></li>
            <li><a href="#">竞赛</a></li>
            <li class="active">团队组建</li>
        </ol>
        <div class="tab-content">
            <div class="col-md-8 inbox_right">
                <div class="Compose-Message">
                    <div class="panel panel-default">
                        <!--<div class="panel-heading">
                            <p>团队招募 项目组建</p>
                        </div>-->
                        <div class="panel-body">
                            <!--<div class="alert alert-info">
                                团队组建 项目发起 队友招募
                            </div>
                            <hr>-->

                            <form class="form-horizontal form" >
                                <label>发起标题 : </label>
                                <input type="text" class="form-control1 control3" placeholder="30字以内" maxlength="30">
                                <label>目标比赛 :  </label>
                                <input type="text" class="form-control1 control3">
                                <label>发起详情 : </label>
                                <textarea rows="6" class="form-control1 control2"></textarea>
                                <hr>
                            </form>
                            <!--
                                                                <a href="#" class="btn btn-success btn-warng1"><span class="glyphicon glyphicon-tags tag_01"></span> Save To Drafts </a>
                            -->
                            <a href="#" class="btn btn-warning btn-warng1"><span class="glyphicon glyphicon-envelope tag_02"></span>  发  布  </a>&nbsp;

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="horizontal-form">



                <div class="panel-footer">
                    <div class="row">
                        <!--<div class="col-sm-8 col-sm-offset-2">
                            <button id="submit" class="btn-success btn">提交</button>
                            <button class="btn-default btn">预览</button>
                            &lt;!&ndash;<button class="btn-inverse btn">Reset</button>&ndash;&gt;
                        </div>-->
                    </div>
                </div>

            </div>
        </div>
        <!--<div class="bs-example" data-example-id="form-validation-states">
            <form>
                <div class="form-group has-success">
                    <label class="control-label" for="inputSuccess1">Input with success</label>
                    <input type="text" class="form-control1" id="inputSuccess1">
                </div>
                <div class="form-group has-warning">
                    <label class="control-label" for="inputWarning1">Input with warning</label>
                    <input type="text" class="form-control1" id="inputWarning1">
                </div>
                <div class="form-group has-error">
                    <label class="control-label" for="inputError1">Input with error</label>
                    <input type="text" class="form-control1" id="inputError1">
                </div>
            </form>
        </div>-->
        <!--<hr>
        <div class="bs-example" data-example-id="form-validation-states-with-icons">
            <form>
                &lt;!&ndash;<div class="form-group has-success has-feedback">
                    <label class="control-label" for="inputSuccess2">Input with success</label>
                    <input type="text" class="form-control1" id="inputSuccess2" aria-describedby="inputSuccess2Status">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    <span id="inputSuccess2Status" class="sr-only">(success)</span>
                </div>
                <div class="form-group has-warning has-feedback">
                    <label class="control-label" for="inputWarning2">Input with warning</label>
                    <input type="text" class="form-control1" id="inputWarning2" aria-describedby="inputWarning2Status">
                    <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                    <span id="inputWarning2Status" class="sr-only">(warning)</span>
                </div>
                <div class="form-group has-error has-feedback">
                    <label class="control-label" for="inputError2">Input with error</label>
                    <input type="text" class="form-control1" id="inputError2" aria-describedby="inputError2Status">
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span id="inputError2Status" class="sr-only">(error)</span>
                </div>
                <div class="form-group has-success has-feedback">
                    <label class="control-label" for="inputGroupSuccess1">Input group with success</label>
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input type="text" class="form-control1" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
                    </div>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" id="exampleInputFile">
                    <p class="help-block">Example block-level help text here.</p>
                </div>&ndash;&gt;
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button class="btn-success btn">提交</button>
                            <button class="btn-default btn">预览</button>
                            &lt;!&ndash;<button class="btn-inverse btn">Reset</button>&ndash;&gt;
                        </div>
                    </div>
                </div>
            </form>
        </div>-->
    </div>


</block>
<block name="script">
    <!-- 配置文件 -->
    <script type="text/javascript" src="__PUBLIC__/editor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="__PUBLIC__/editor/ueditor.all.js"></script>
<!--
    <script type="text/javascript" src="__PUBLIC__/editor/ueditor.parse.js"></script>
-->
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('myEditor');
        //UE.getEditor("myEditor",{serverUrl: '__PUBLIC__/editor/php/controller.php'});
        /*uParse('.ccc', {
            rootPath: '__PUBLIC__/editor/'
        })*/


        //ue.getEditor('myEditor', {serverUrl: '/server/ueditor/controller.php'})


    </script>
    <script>
        $('#submit').click(function() {
            //alert('kk');
            //var name = $('#name').val();
            //var password = $('#password').val();
            var myForm = $('form');
            $.ajax({
                url: '__URL__/addAtc',
                type: 'post',//提交的方式
                dataType:'json',
                data: myForm.serialize(),
                success: function(data) {
                    alert(data.msg);
                   if(data.status==1){
                       window.location.href=document.referrer;
                   }

                    //这是成功返回的数据，写自己的逻辑
                }
            });
        });
    </script>
</block>