<extend name="Layout/layout" />

<block name="content">
    <div class="widget_head">学生主页</div>
    <div class="widget_1">
        <div class="col-sm-3 widget_1_box">
            <div class="wid-social twitter">
                <div class="social-icon">
                    <i class="fa fa-twitter text-light icon-xlg pull-right"></i>
                </div>
                <div class="social-info">
                    <h3 class="number_counter bold count text-light start_timer counted">3454</h3>
                    <h4 class="counttype text-light">Tweets</h4>
                    <span class="percent">2% increase from last week</span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 widget_1_box">
            <div class="tile-progress bg-info">
                <div class="content">
                    <h4><i class="fa fa-dashboard icon-sm"></i> Server Load</h4>

                    <div class="progress">
                        <div class="progress-bar inviewport animated visible slideInLeft" style="width: 40%;"></div>
                    </div>
                    <span>40% increase</span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 widget_1_box">
            <div class="tile-progress bg-danger">
                <div class="content">
                    <h4><i class="fa fa-dashboard icon-sm"></i> Server Load</h4>

                    <div class="progress">
                        <div class="progress-bar inviewport animated visible slideInLeft" style="width: 40%;"></div>
                    </div>
                    <span>40% increase</span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 widget_1_box">
            <div class="tile-progress bg-secondary">
                <div class="content">
                    <h4><i class="fa fa-dashboard icon-sm"></i> Server Load</h4>

                    <div class="progress">
                        <div class="progress-bar inviewport animated visible slideInLeft" style="width: 40%;"></div>
                    </div>
                    <span>40% increase</span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="widget_4">
        <div class="col-md-8 stats-info3">
            <div class="panel panel-warning" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
                <div class="panel-heading">
                    <h2>我的成果，项目，成绩</h2>
                    <div class="panel-ctrls" data-actions-container="" data-action-collapse="{&quot;target&quot;: &quot;.panel-body&quot;}"><span class="button-icon has-bg"><i class="ti ti-angle-down"></i></span></div>
                </div>
                <div class="panel-body no-padding" style="display: block;">
                    <table class="table table-striped">
                        <thead>
                        <tr class="warning">
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="bs-example4" data-example-id="contextual-table">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Column heading</th>
                        <th>Column heading</th>
                        <th>Column heading</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="active">
                        <th scope="row">1</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="success">
                        <th scope="row">3</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="info">
                        <th scope="row">5</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="warning">
                        <th scope="row">7</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="danger">
                        <th scope="row">9</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4 widget_1_box1">
            <div class="coffee">
                <div class="coffee-top">
                    <a href="#"><img class="img-responsive" src="__PUBLIC__/Bootstrap/images/pages_bg.jpg" alt="">

                        <div class="doe">
                            <h3>{$name}</h3>

                            <p>Web 开发</p>
                        </div>
                        <i><img class="img-responsive" src="__PUBLIC__/default/default_m.png" alt=""></i></a>
                </div>
                <div class="follow">
                    <div class="col-xs-4 two">
                        <p>关注</p>
                        <span>10</span>
                    </div>
                    <div class="col-xs-4 two">
                        <p>状态</p>
                        <span>学生</span>
                    </div>
                    <div class="col-xs-4 two">
                        <p>关注者</p>
                        <span>367</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="profile">
                        <div style="margin: 15px 0px" class="row person-page">
                            <div class="col-xs-12 col-sm-11" >
                                <p>
                                    <strong> 专 业：</strong> {$major}</p>
                                <p>
                                    <strong>个 人 简 介：</strong> 13级学渣一枚，百合。撸码苦工，大空想家</p>
                                <p>
                                    <strong class="mrs">技 能:</strong>
                                    <span class="label label-green mrs badge-normal">软件开发</span>
                                    <span class="label label-green mrs badge-normal">Python</span>
                                    <span class="label label-green mrs badge-normal">傲娇</span>
                                </p>
                            </div>
                            <!--<div class="col-xs-12 col-sm-4 text-center">
                                <figure><img src="images/avatar/128.jpg" alt="" style="display: inline-block" class="img-responsive img-circle">
                                    <figcaption class="ratings"><p><a href="#"><span class="fa fa-star"></span></a><a href="#"><span class="fa fa-star"></span></a><a href="#"><span class="fa fa-star"></span></a><a href="#"><span class="fa fa-star"></span></a><a href="#"><span class="fa fa-star-o"></span></a></p></figcaption>
                                </figure>
                            </div>-->
                        </div>
                        <div class="row text-center divider">
                            <div class="col-xs-12 col-sm-4 emphasis">
                                <!--<h2>
                                    <strong>20,7K</strong></h2>
                                <p>
                                    <small>Followers</small>
                                </p>-->
                                <button class="btn btn-yellow btn-block">
                                    <span class="fa fa-plus-circle"></span>&nbsp; 添加技能
                                </button>
                            </div>
                            <div class="col-xs-12 col-sm-4 emphasis">
                                <!--<h2>
                                    <strong>245</strong></h2>
                                <p>
                                    <small>Following</small>
                                </p>-->
                                <button class="btn btn-blue btn-block">
                                    <span class="fa fa-user"></span>&nbsp; 修改资料
                                </button>
                            </div>
                            <div class="col-xs-12 col-sm-4 emphasis">
                                <div class="btn-group dropup">
                                    <button type="button" data-toggle="dropdown" class="btn btn-orange dropdown-toggle">
                                        <span class="fa fa-gear"></span>&nbsp; 设置
                                    </button>
                                    <ul role="menu" class="dropdown-menu pull-right text-left">
                                        <li><a href="#"><span class="fa fa-envelope"></span>&nbsp; Send an email</a></li>
                                        <li><a href="#"><span class="fa fa-list"></span>&nbsp; Add or remove from a list</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><span class="fa fa-warning"></span>&nbsp; Report this user for spam</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#" role="button" class="btn disabled">Unfollow</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--<div class="col-md-4 stats-info3">
            <div class="online">
                <a href="#">
                    <div class="online-top">
                        <div class="top-at">
                            <img class="img-responsive" src="__PUBLIC__/Bootstrap/images/2.png" alt="">
                        </div>
                        <div class="top-on">
                            <div class="top-on1">
                                <p>Characteristic</p>
                                <span>Ipsum</span>
                            </div>
                            <label class="round"> </label>

                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <a href="#">
                    <div class="online-top">
                        <div class="top-at">
                            <img class="img-responsive" src="__PUBLIC__/Bootstrap/images/3.png" alt="">
                        </div>
                        <div class="top-on">
                            <div class="top-on1">
                                <p>Accompanied</p>
                                <span>Repet</span>
                            </div>
                            <label class="round"> </label>

                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <a href="#">
                    <div class="online-top">
                        <div class="top-at">
                            <img class="img-responsive" src="__PUBLIC__/Bootstrap/images/4.png" alt="">
                        </div>
                        <div class="top-on">
                            <div class="top-on1">
                                <p>Adipiscing</p>
                                <span>Mistake</span>
                            </div>
                            <label class="round"> </label>

                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <a href="#">
                    <div class="online-top online-top1">
                        <div class="top-at">
                            <img class="img-responsive" src="__PUBLIC__/Bootstrap/images/1.png" alt="">
                        </div>
                        <div class="top-on">
                            <div class="top-on1">
                                <p>Denouncing</p>
                                <span>Lorem</span>
                            </div>
                            <label class="round"> </label>

                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>-->
        <!--<div class="col-lg-4">
            <div class="portlet box">
                <div class="portlet-header">
                    <div class="caption">
                        Chats</div>
                </div>
                <div class="portlet-body">
                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: 270px;"><div class="chat-scroller" style="overflow: hidden; width: 100%; height: 270px;">
                        <ul class="chats">
                            <li class="in">
                                <img src="images/avatar/48.jpg" class="avatar img-responsive">
                                <div class="message">
                                    <span class="chat-arrow"></span><a href="#" class="chat-name">Admin</a>&nbsp;<span class="chat-datetime">at July 06, 2014 17:06</span><span class="chat-body">Lorem ipsum
                                                                dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                                                ut laoreet dolore magna aliquam erat volutpat.</span></div>
                            </li>
                            <li class="out">
                                <img src="images/avatar/48.jpg" class="avatar img-responsive">
                                <div class="message">
                                    <span class="chat-arrow"></span><a href="#" class="chat-name">Admin</a>&nbsp;<span class="chat-datetime">at July 06, 2014 18:06</span><span class="chat-body">Lorem ipsum
                                                                dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                                                ut laoreet dolore magna aliquam erat volutpat.</span></div>
                            </li>
                            <li class="in">
                                <img src="images/avatar/48.jpg" class="avatar img-responsive">
                                <div class="message">
                                    <span class="chat-arrow"></span><a href="#" class="chat-name">Admin</a>&nbsp;<span class="chat-datetime">at July 06, 2014 17:06</span><span class="chat-body">Lorem ipsum
                                                                dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                                                ut laoreet dolore magna aliquam erat volutpat.</span></div>
                            </li>
                            <li class="out">
                                <img src="images/avatar/48.jpg" class="avatar img-responsive">
                                <div class="message">
                                    <span class="chat-arrow"></span><a href="#" class="chat-name">Admin</a>&nbsp;<span class="chat-datetime">at July 06, 2014 18:06</span><span class="chat-body">Lorem ipsum
                                                                dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                                                ut laoreet dolore magna aliquam erat volutpat.</span></div>
                            </li>
                            <li class="in">
                                <img src="images/avatar/48.jpg" class="avatar img-responsive">
                                <div class="message">
                                    <span class="chat-arrow"></span><a href="#" class="chat-name">Admin</a>&nbsp;<span class="chat-datetime">at July 06, 2014 17:06</span><span class="chat-body">Lorem ipsum
                                                                dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                                                ut laoreet dolore magna aliquam erat volutpat.</span></div>
                            </li>
                        </ul>
                    </div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 86.7857px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
                    <div class="chat-form">
                        <div class="input-group">
                            <input id="input-chat" type="text" placeholder="Type a message here..." class="form-control"><span id="btn-chat" class="input-group-btn">
                                                    <button type="button" class="btn btn-green">
                                                        <i class="fa fa-check"></i>
                                                    </button>
                                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <!--<div class="col-md-4 stats-info stats-info1">
            <div class="panel-heading">
                <h4 class="panel-title">Browser Stats</h4>
            </div>
            <div class="panel-body panel-body2">
                <ul class="list-unstyled">
                    <li>Google Chrome
                        <div class="text-success pull-right">12%<i class="fa fa-level-up"></i></div>
                    </li>
                    <li>Firefox
                        <div class="text-success pull-right">15%<i class="fa fa-level-up"></i></div>
                    </li>
                    <li>Internet Explorer
                        <div class="text-success pull-right">18%<i class="fa fa-level-up"></i></div>
                    </li>
                    <li>Safari
                        <div class="text-danger pull-right">17%<i class="fa fa-level-down"></i></div>
                    </li>
                    <li>Opera
                        <div class="text-danger pull-right">10%<i class="fa fa-level-down"></i></div>
                    </li>
                    <li>Mobile &amp; tablet
                        <div class="text-success pull-right">14%<i class="fa fa-level-up"></i></div>
                    </li>
                    <li class="last">Others
                        <div class="text-success pull-right">5%<i class="fa fa-level-up"></i></div>
                    </li>
                </ul>
            </div>
        </div>-->
        <div class="clearfix"></div>
    </div>
</block>
