<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Modern an Admin Panel Category Flat Bootstarp Resposive Website Template | Compose :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="__PUBLIC__/Bootstrap/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="__PUBLIC__/Bootstrap/css/style.css" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/Bootstrap/css/font-awesome.css" rel="stylesheet">
<!-- jQuery -->
<script src="__PUBLIC__/Bootstrap/js/jquery.min.js"></script>
<!----webfonts--->
<link href='http://fonts.useso.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
<!---//webfonts--->  
<!-- Bootstrap Core JavaScript -->
<script src="__PUBLIC__/Bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div id="wrapper">
     <!-- Navigation -->
        <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="border-bottom: 0px;margin-bottom: 0px">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">交大科创</a>
            </div>

			<form class="navbar-form navbar-right">
              <input type="text" class="form-control" value="Search..." onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Search...';}">
            </form>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw nav_icon"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-laptop nav_icon"></i>Layouts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="grids.html">Grid System</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-indent nav_icon"></i>Menu Levels<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="graphs.html">Graphs</a>
                                </li>
                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-envelope nav_icon"></i>Mailbox<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="inbox.html">Inbox</a>
                                </li>
                                <li>
                                    <a href="compose.html">Compose email</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="widgets.html"><i class="fa fa-flask nav_icon"></i>Widgets</a>
                        </li>
                         <li>
                            <a href="#"><i class="fa fa-check-square-o nav_icon"></i>Forms<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="forms.html">Basic Forms</a>
                                </li>
                                <li>
                                    <a href="validation.html">Validation</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-table nav_icon"></i>Tables<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="basic_tables.html">Basic Tables</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw nav_icon"></i>Css<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="media.html">Media</a>
                                </li>
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
        <div class="graphs">
	     <div class="xs" style="font-family: '微软雅黑', 'Helvetica Neue', Helvetica, Arial, sans-serif">
  	       <h3 class="media-heading" >{$info.title}</h3>
  	         <div class="col-md-4 email-list1">
               <ul class="collection">
                    <li class="collection-item avatar email-unread">
                      <!--<i class="fa fa-users icon_1"></i>-->
                      <div class="avatar_left" style="width: 90%; margin-bottom: -1em;">
                          <ul class="list-unstyled list-inline" >
                              <li style="margin-bottom: 0.7em"><a href="#" class="text-muted">作者：{$info.uid|get_username}</a></li>
                              <li style="margin-bottom: 0.7em"><a class="text-muted">{$info.create_time|date='Y-m-d H:i',###}</a></li>
                              <li style="margin-bottom: 0.7em"><a href="#" class="text-muted">浏览：{$info.view}</a></li>
                              <!--<li><a href="#" class="text-orange"><i class="fa fa-heart"></i> 12k</a></li>-->
                          </ul>

                      </div>
                      <!--<a href="#!" class="secondary-content"><span class="new badge blue">4</span></a>-->
                      <div class="clearfix"> </div>
                    </li>
                   <!--<li class="collection-item avatar email-unread">
                       &lt;!&ndash;<i class="fa fa-users icon_1"></i>&ndash;&gt;
                       <div class="avatar_left" style="width: 90%; margin-bottom: -1em;">
                           <span class="email-title" style="font-weight: 700">发布时间：</span>
                           <p class="truncate grey-text ultra-small" style="font-size: 0.9rem;">{$info.create_time|date='Y-m-d H:i',###}</p>
                       </div>
                       &lt;!&ndash;<a href="#!" class="secondary-content"><span class="new badge blue">4</span></a>&ndash;&gt;
                       <div class="clearfix"> </div>
                   </li>
                   <li class="collection-item avatar email-unread">
                       &lt;!&ndash;<i class="fa fa-users icon_1"></i>&ndash;&gt;
                       <div class="avatar_left" style="width: 90%; margin-bottom: -1em;">
                           <span class="email-title" style="font-weight: 700">浏览次数：</span>
                           <p class="truncate grey-text ultra-small" style="font-size: 0.9rem;">124</p>
                       </div>
                       &lt;!&ndash;<a href="#!" class="secondary-content"><span class="new badge blue">4</span></a>&ndash;&gt;
                       <div class="clearfix"> </div>
                   </li>-->
                   <li class="collection-item avatar email-unread">
                   <!--<i class="fa fa-users icon_1"></i>-->
                        <div class="avatar_left" style="width: 90%; margin-bottom: -1em;">
                            <!--<span class="email-title" style="font-weight: 700">具体内容：</span>-->
                            <p class="truncate grey-text ultra-small" style="font-size: 0.9rem;">{$info.content}</p>
                        </div>
                   <!--<a href="#!" class="secondary-content"><span class="new badge blue">4</span></a>-->
                   <div class="clearfix"> </div>
                   </li>
                   <li class="collection-item avatar email-unread">
                       <!--<i class="fa fa-users icon_1"></i>-->
                       <div class="avatar_left" style="width: 90%; margin-bottom: -1em;">

                          <!-- <span class="email-title" style="font-weight: 700">浏览次数：</span>
                           <p class="truncate grey-text ultra-small" style="font-size: 0.9rem;">124</p>-->
                       </div>
                       <!--<a href="#!" class="secondary-content"><span class="new badge blue">4</span></a>-->
                       <div class="clearfix"> </div>
                   </li>
                   <!--<li class="collection-item avatar email-unread">
                       &lt;!&ndash;<i class="fa fa-users icon_1"></i>&ndash;&gt;
                       <div class="avatar_left" style="width: 90%; margin-bottom: -1em;">
                           <span class="email-title" style="font-weight: 700">赛事规则：</span>
                           <p class="truncate grey-text ultra-small" style="font-size: 0.9rem;">参赛者需要根据大赛组委会提供的案例，自主确定设计的领域和方向，完成设计内容。比赛涉及信息系统开发、软硬件开发、企业管理、数学建模、财务分析、流程再造、组织结构优化、企业战略管理、物流各环节（采购、包装、仓储、流通加工、配送、运输等）的优化设计等等诸多方面。</p>
                       </div>
                       &lt;!&ndash;<a href="#!" class="secondary-content"><span class="new badge blue">4</span></a>&ndash;&gt;
                       <div class="clearfix"> </div>
                   </li>
                   <li class="collection-item avatar email-unread">
                       &lt;!&ndash;<i class="fa fa-users icon_1"></i>&ndash;&gt;
                       <div class="avatar_left" style="width: 90%; margin-bottom: -1em;">
                           <span class="email-title" style="font-weight: 700">竞赛时间：</span>
                           <p class="truncate grey-text ultra-small" style="font-size: 0.9rem;">每两年一届，从第一年的11月份到第二年4月份。</p>
                       </div>
                       &lt;!&ndash;<a href="#!" class="secondary-content"><span class="new badge blue">4</span></a>&ndash;&gt;
                       <div class="clearfix"> </div>
                   </li>
                   <li class="collection-item avatar email-unread">
                       &lt;!&ndash;<i class="fa fa-users icon_1"></i>&ndash;&gt;
                       <div class="avatar_left" style="width: 90%; margin-bottom: -1em;">
                           <span class="email-title" style="font-weight: 700">联系方式：</span>
                           <p class="truncate grey-text ultra-small" style="font-size: 0.9rem;">jianming@swjtu.cn</p>
                       </div>
                       &lt;!&ndash;<a href="#!" class="secondary-content"><span class="new badge blue">4</span></a>&ndash;&gt;
                       <div class="clearfix"> </div>
                   </li>
                   <li class="collection-item avatar email-unread">
                       &lt;!&ndash;<i class="fa fa-users icon_1"></i>&ndash;&gt;
                       <div class="avatar_left" style="width: 90%; margin-bottom: -1em;">
                           <span class="email-title" style="font-weight: 700;">官方网址：</span>
                           <p class="truncate grey-text ultra-small" style="font-size: 0.9rem;">http://www.clpp.org.cn </p>
                       </div>
                       &lt;!&ndash;<a href="#!" class="secondary-content"><span class="new badge blue">4</span></a>&ndash;&gt;
                       <div class="clearfix"> </div>
                   </li>
                    <li class="collection-item avatar email-unread">
                      <i class="fa fa-exclamation-circle icon_2"></i>
                      <div class="avatar_left">
                      	<span class="email-title">Updates</span>
                        <p class="truncate grey-text ultra-small">It is a long established fact that a reader.</p>
                      </div>
                      <a href="#!" class="secondary-content"><span class="new badge red">4</span></a>
                      <div class="clearfix"> </div>
                    </li>
                    <li class="collection-item avatar email-unread">
                      <i class="fa fa-tag icon_3"></i>
                      <div class="avatar_left">
                      	<span class="email-title">Promotions</span>
                        <p class="truncate grey-text ultra-small">There are many variations of passages.</p>
                      </div>
                      <a href="#!" class="secondary-content"><span class="new badge blue1">4</span></a>
                      <div class="clearfix"> </div>
                    </li>
                    <li class="collection-item avatar email-unread">
                      <i class="icon_4">G</i>
                      <div class="avatar_left">
                      	<span class="email-title">Gmail</span>
                        <p class="truncate grey-text ultra-small">Sed ut perspiciatis unde omnis iste.</p>
                      </div>
                      <a href="#!" class="secondary-content"><span class="blue-text ultra-small">2:15 pm</span></a>
                      <div class="clearfix"> </div>
                    </li>
                    <li class="collection-item avatar email-unread">
                      <i class="icon_4 icon_5">F</i>
                      <div class="avatar_left">
                      	<span class="email-title">Facebook</span>
                        <p class="truncate grey-text ultra-small">But I must explain to you how.</p>
                      </div>
                      <a href="#!" class="secondary-content"><span class="blue-text ultra-small">2:15 pm</span></a>
                      <div class="clearfix"> </div>
                    </li>
                    <li class="collection-item avatar email-unread email_last">
                      <i class="icon_4 icon_6">T</i>
                      <div class="avatar_left">
                      	<span class="email-title">Twitter</span>
                        <p class="truncate grey-text ultra-small">At vero eos et accusamus et iusto odio.</p>
                      </div>
                      <a href="#!" class="secondary-content"><span class="blue-text ultra-small">2:15 pm</span></a>
                      <div class="clearfix"> </div>
                    </li>-->
              </ul>
         <!--<div class="content-box  mrg15B">
          <div class="content-box-wrapper text-center">
            <h4 class="content-box-header">
            Chat
            <small>(Online friends)</small>
            </h4>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="images/1.png" alt="">
                <div class="small-badge bg-red"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="images/2.png" alt="">
                <div class="small-badge bg-orange"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="images/3.png" alt="">
                <div class="small-badge bg-red"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="images/4.png" alt="">
                <div class="small-badge bg-green1"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="images/5.png" alt="">
                <div class="small-badge bg-orange"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="images/1.png" alt="">
                <div class="small-badge bg-red"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="images/2.png" alt="">
                <div class="small-badge bg-green1"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="images/3.png" alt="">
                <div class="small-badge bg-orange"></div>
            </div>
          </div>
        </div>-->
        </div>
        <!--<div class="col-md-8 inbox_right">
        	<div class="Compose-Message">               
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Compose New Message 
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-info">
                            Please fill details to send a new message
                        </div>
                        <hr>
                        <label>Enter Recipient Name : </label>
                        <input type="text" class="form-control1 control3">
                        <label>Enter Subject :  </label>
                        <input type="text" class="form-control1 control3">
                        <label>Enter Message : </label>
                        <textarea rows="6" class="form-control1 control2"></textarea>
                        <hr>
                        <a href="#" class="btn btn-warning btn-warng1"><span class="glyphicon glyphicon-envelope tag_02"></span> Send Message </a>&nbsp;
                      <a href="#" class="btn btn-success btn-warng1"><span class="glyphicon glyphicon-tags tag_01"></span> Save To Drafts </a>
                    </div>
                 </div>
              </div>
         </div>-->
         <div class="clearfix"> </div>
   </div>
    <div class="copy_layout">
         <p>西南交通大学  创新创业俱乐部 </p>
       </div>
   </div>
      </div>
      <!-- /#page-wrapper -->
   </div>
    <!-- /#wrapper -->
<!-- Nav CSS -->
<link href="__PUBLIC__/Bootstrap/css/custom.css" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script src="__PUBLIC__/Bootstrap/js/metisMenu.min.js"></script>
<script src="__PUBLIC__/Bootstrap/js/custom.js"></script>
</body>
</html>
