<extend name="Layout/layout"/>
<block name="cate">
    <ul class="nav" id="side-menu"  >
        <li>
            <a href="/kechuang4/index.php/Home/Article/index/cate/10">组队&amp;招募<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level"  >
                <li>
                    <a href="/kechuang4/index.php/Home/Article/index/cate/26/openid/{$openid}">SRTP课题</a>
                </li>
                <li>
                    <a href="/kechuang4/index.php/Home/Article/addAtc/cate/10/mid/5/openid/{$openid}">发起组队</a>
                </li>
                <li>
                    <a href="/kechuang4/index.php/Home/Article/index/cate/10/openid/{$openid}">组队信息</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/kechuang4/index.php/Home/Article/index/cate/22/openid/{$openid}">科创消息</a>
        </li>
    </ul>
</block>

<block name="content">

    <div class="xs">
        <!--<h4>团队组建</h4>-->
        <ol class="breadcrumb" style="margin-bottom: 10px">
            <li><a href="#">科创俱乐部</a></li>
            <li><a href="__URL__/">竞赛</a></li>
            <li class="active">团队组建</li>
        </ol>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <a role="button" class="btn btn-default" href="__URL__/index/cate/10/openid/{$openid}">组队信息</a>
            <a role="button" class="btn btn-default" href="__MODULE__/Article/index/cate/26/openid/{$openid}">科创招募</a>
            <a role="button" class="btn btn-primary" href="__URL__/addAtc/cate/10/mid/5/openid/{$openid}">发起组队</a>
        </div>
        <div class="tab-content">
            <div class="col-md-8 inbox_right">
                <div class="Compose-Message">
                    <div class="panel panel-default">
                        <!--<div class="panel-heading">
                            <p>团队招募 项目组建</p>
                        </div>-->
                        <div class="panel-body">
                            <!--<div class="alert alert-info">
                                团队组建 项目发起 队友招募
                            </div>
                            <hr>-->
                            <form class="form-horizontal form" id="form-submit">
                                <label>发起标题 : </label>
                                <input name="title" type="text" class="form-control1 control3" placeholder="30字以内"
                                       maxlength="30">
                                <label>目标比赛 : </label>

                                <div class="input-group race">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                style="height: 40px"> 选 择 <span class="caret"></span></button>

                                        <ul class="dropdown-menu">
                                            <li><a href="#">大学生科研训练计划(SRTP)</a></li>
                                            <li><a href="#">全国大学生广告大赛</a></li>
                                            <li><a href="#">全国大学生电子商务大赛</a></li>
                                            <li><a href="#">全国大学生数学建模竞赛</a></li>
                                            <li><a href="#">全国大学生电子设计竞赛</a></li>
                                            <li><a href="#">全国大学生机械创新设计大赛</a></li>
                                            <li><a href="#">全国大学生电子设计嵌入式专题邀请赛</a></li>
                                            <li><a href="#">全国大学生结构设计竞赛</a></li>
                                            <li><a href="#">全国大学生物流设计大赛</a></li>
                                            <li><a href="#">全国周培源大学生力学竞赛</a></li>
                                            <li><a href="#">全国大学生广告艺术大赛</a></li>
                                            <li><a href="#">全国大学生智能车竞赛</a></li>
                                            <li><a href="#">挑战杯全国大学生课外科技竞赛</a></li>
                                            <li><a href="#">全国大学生节能减排社会实践与科技竞赛</a></li>
                                            <li><a href="#">全国大学生物理实验竞赛</a></li>
                                            <li><a href="#">全国大学生交通科技大赛</a></li>
                                            <li><a href="#">全国大学生工程训练综合能力大赛</a></li>
                                            <li><a href="#">中国大学生服务外包创新创业大赛</a></li>
                                            <li><a href="#">ACM程序设计大赛</a></li>
                                            <li><a href="#">国家大学生创新性实验计划</a></li>
                                            <li><a href="#">全国大学生电子商务“创新 创意 创业”挑战赛</a></li>
                                            <li role="separator" class="divider"></li>
                                        </ul>
                                    </div><!-- /btn-group -->
                                    <input name="race" id="race" type="text" class="form-control1 control">
                                </div>
                                <label>面向对象 : </label>

                                <div class="input-group race">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                style="height: 40px"> 选 择 <span class="caret"></span></button>
                                        <ul class="dropdown-menu race">
                                                <li><a href="#">全校</a></li>
                                                <li><a href="#">土木工程学院</a></li>
                                                <li><a href="#">机械工程学院</a></li>
                                                <li><a href="#">电气工程学院</a></li>
                                                <li><a href="#">信息科学与技术学院</a></li>
                                                <li><a href="#">交通运输与物流学院</a></li>
                                                <li><a href="#">经济管理学院</a></li>
                                                <li><a href="#">外国语学院</a></li>
                                                <li><a href="#">建筑学院</a></li>
                                                <li><a href="#">材料科学与工程学院</a></li>
                                                <li><a href="#">力学与工程学院</a></li>
                                                <li><a href="#">数学学院</a></li>
                                                <li><a href="#">物理科学与技术学院</a></li>
                                                <li><a href="#">生命科学与工程学院</a></li>
                                                <li><a href="#">地球科学与环境工程学院</a></li>
                                                <li><a href="#">艺术与传播学院</a></li>
                                                <li><a href="#">公共管理学院</a></li>
                                                <li><a href="#">政治学院</a></li>
                                                <li><a href="#">茅以升学院</a></li>
                                                <li><a href="#">心理研究与咨询中心</a></li>
                                        </ul>
                                    </div><!-- /btn-group -->
                                    <input name="orienting" id="orienting" type="text" class="form-control1 control" >
                                </div>

                                <!-- <input name="race" type="text" class="form-control1 control3">-->
                                <label>发起详情 : </label>
                                <textarea name="content" rows="9" class="form-control1 control2"></textarea>
                                <label>联系方式 : </label>
                                <input name="connect" type="text" class="form-control1 control3"
                                       placeholder="qq or tel or wechat" maxlength="50">
                                <hr>
                                <input name="openidc" type="hidden" value="{$openid}">

                            </form>
                            <!--
                                                                <a href="#" class="btn btn-success btn-warng1"><span class="glyphicon glyphicon-tags tag_01"></span> Save To Drafts </a>
                            -->
                            <a id="submit" class="btn btn-warning btn-warng1">
                                <span class="glyphicon glyphicon-envelope tag_02"></span> 发 布 </a>&nbsp;

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="horizontal-form">
                <div class="panel-footer">
                    <div class="row">
                        <!--<div class="col-sm-8 col-sm-offset-2">
                            <button id="submit" class="btn-success btn">提交</button>
                            <button class="btn-default btn">预览</button>
                            &lt;!&ndash;<button class="btn-inverse btn">Reset</button>&ndash;&gt;
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>


</block>
<block name="script">
    <script>
        $('#submit').click(function () {
            var t = $(this);
            var myForm = $('#form-submit');
            var data = new FormData(myForm[0]);
            //alert('{$openid}');
            $(this).attr("disabled",true);
            $('#submit').text('发布中……')

            $.ajax({
                url: '__URL__/addAtc/cate/{$cate}/mid/{$mid}/openid/{$openid}',
                type: 'post',//提交的方式
                dataType: 'json',
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                success: function (rdata) {
                    alert(rdata.msg);
                    t.removeAttr("disabled");
                    if (rdata.status == 1) {
                        window.location.href = '__URL__/index/cate/10/openid/{$openid}';//document.referrer;
                    }
                    if(rdata.status != 1){
                        //$(this).removeAttr("disabled");

                        $('#submit').text('发布')
                        //$(this).removeAttr("disabled");
                    }


                },
                error:function(){
                    $(this).removeAttr("disabled");

                }
            });
        });

        $('.race div ul li a').click(function(){
            //alert($(this).text());
            var race = $(this).parents('.race');
            race.children('input').val($(this).text());
            //$('#race').val($(this).text());
        })
    </script>
</block>