<extend name="Layout/layout"/>
<block name="cate">
    <ul class="nav" id="side-menu"  >
        <li>
            <a href="/kechuang4/index.php/Home/Article/index/cate/10">组队&amp;招募<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level"  >
                <li>
                    <a href="/kechuang4/index.php/Home/Article/index/cate/26/openid/{$openid}">科创招募</a>
                </li>
                <li>
                    <a href="/kechuang4/index.php/Home/Article/addAtc/cate/10/mid/5/openid/{$openid}">发起组队</a>
                </li>
                <li>
                    <a href="/kechuang4/index.php/Home/Article/index/cate/10/openid/{$openid}">组队信息</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/kechuang4/index.php/Home/Article/index/cate/22/openid/{$openid}">科创消息</a>
        </li>
    </ul>
</block>

<block name="content">
    <div class="btn-group btn-group-justified" role="group" aria-label="..." style="margin-bottom: 8px">
        <a role="button" class="btn btn-primary" href="__URL__/index/cate/10/openid/{$openid}">组队信息</a>
        <a role="button" class="btn btn-default" href="__MODULE__/Article/index/cate/26/openid/{$openid}">科创招募</a>
        <a role="button" class="btn btn-default" href="__URL__/addAtc/cate/10/mid/5/openid/{$openid}">发起组队</a>
    </div>
    <div class="col_1">
        <div class="col-md-4 span_7" style="margin-bottom: 5px">
            <div class="activity_box"> <!--style="width: 750px;"-->
                <div class="modal-header" style="border-bottom: 0px">
                    <div class="online-top" style="padding:0 0 11px 0">
                        <div class="top-at">
                            <img class="img-responsive" src="__PUBLIC__/default/default_m.png" alt="">
                        </div>
                        <div class="top-on">
                            <div class="top-on1" style="padding-top: 20px">
                                <span>{$uname}</span>

                                <p>通信工程</p>

                            </div>
                            <!--<label class="round"> </label>-->
                            <!-- <div class="clearfix"> </div>-->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!--<div class="col-md-6">
                        <div class="status-badge mrg10A">
                            <img class="img-circle" width="40" src="__PUBLIC__/Bootstrap/images/1.png" alt="">
                            <div class="small-badge bg-red"></div>
                        </div>
                        <ul class="list-unstyled list-inline" >
                            <li><a href="#" class="text-muted">{$author}</a></li>
                            <li><a href="" class="text-muted">{$createtime}</a></li>
                            <li><a href="#" class="text-muted"><i class="fa fa-comment"></i> 584</a></li>
                            <li><a href="#" class="text-orange"><i class="fa fa-heart"></i> 12k</a></li>

                        </ul>
                    </div>
                    <div class="clearfix"> </div>-->
                    <!--<h2>{$title}</h2>-->
                </div>
                <div class="modal-body" style="min-height: 240px;padding:0px 15px">
                    <h5 class="modal-title" style="margin-bottom:8px;font-size: 1.2em">{$title}</h5>

                    <p>{$content}</p>
                    <br>

                    <p>联系方式：<a>{$connect}</a></p>
                </div>
                <div class="modal-footer">
                    <ul class="list-unstyled list-inline" style="margin:0">
                        <li><a href="#" class="text-muted">{$author}</a></li>
                        <li><a href="" class="text-muted">{$createtime}</a></li>
                        <!--<li><a href="#" class="text-muted"><i class="fa fa-comment"></i> 584</a></li>
                        <li><a href="#" class="text-orange"><i class="fa fa-heart"></i> 12k</a></li>-->

                    </ul>
                    <div class="clearfix"></div>
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>-->
                </div>
            </div>
        </div>

        <div class="col-md-4 span_7" style="margin-bottom: 5px">
            <div class="row">

                <div class="col-lg-12">
                    <div class="input-group">
                        <input type="text" class="form-control1" placeholder="问点什么吧">
                        <span class="input-group-btn"  >
                            <button class="btn btn-default" type="button" style="height: 40px" >回应</button>
                        </span>
                    </div>
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <div class="activity_box" style="padding:10px 10px">


                    <div class="activity-row">
                        <div class="col-xs-2 activity-img"><img src="__PUBLIC__/default/default_f.png"
                                                                class="img-responsive img-circle" alt=""></div>
                        <div class="col-xs-8 activity-desc">
                            <h5><a href="#">Lorem Ipsum</a> liked <a href="#">random</a></h5>

                            <p>Lorem Ipsum is simply dummy</p>
                            <h6>8:03</h6>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="activity-row">
                        <div class="col-xs-2 activity-img"><img src="__PUBLIC__/default/default_f.png"
                                                                class="img-responsive" alt=""></div>
                        <div class="col-xs-8 activity-desc">
                            <h5><a href="#">simply random</a> liked <a href="#">passages</a></h5>

                            <p>Lorem Ipsum is simply dummy</p>
                            <h6>8:03</h6>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="activity-row">
                        <div class="col-xs-2 activity-img "><img src="__PUBLIC__/default/default_f.png"
                                                                 class="img-responsive" alt=""></div>
                        <div class="col-xs-8 activity-desc">
                            <h5><a href="#">standard chunk</a> liked <a href="#">model</a></h5>

                            <p>Lorem Ipsum is simply dummy</p>
                            <h6>8:03</h6>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="activity-row1">
                        <div class="col-xs-2 activity-img "><img src="__PUBLIC__/default/default_f.png"
                                                                 class="img-responsive" alt=""></div>
                        <div class="col-xs-10 activity-desc">
                            <h5><a href="#">perspiciatis</a> liked<p style="float: right;">3:20</p></h5><!---->
                            <p>Lorem Ipsum is simply dummy</p>
                            <h6>8:03</h6>
                        </div>
                        <div class="clearfix"></div>
                    </div>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>


</block>
<block name="script">
    <!-- 配置文件 -->
    <script type="text/javascript" src="__PUBLIC__/editor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="__PUBLIC__/editor/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('container');
    </script>
    <script>
        $('#submit').click(function () {
            //alert('kk');
            //var name = $('#name').val();
            //var password = $('#password').val();
            var myForm = $('form');
            $.ajax({
                url: '__URL__/addAtc',
                type: 'post',//提交的方式
                dataType: 'json',
                data: myForm.serialize(),
                success: function (data) {
                    alert(data.msg);
                    if (data.status == 1) {
                        window.location.href = document.referrer;
                    }

                    //这是成功返回的数据，写自己的逻辑
                }
            });
        });
    </script>
</block>